{% extends "basetemplate.html" %}
{% block title %} | About Awesome Guitar Placeholder Images{% endblock %}
{% block header %}
  <h1>About Place Guitar</h1> 
  <div id="tagline"></div>
{% endblock %}
{% block content %}
  <div>
    <p>I hacked place guitar together over a few evenings, having gotten the inspiration from a tweet by Zed Shaw (thanks Zed!).</p>
    <p>It is written in Python, and hosted on Google App Engine.</p>
    <p>The source, in all its glory, is on github.</p>
  </div>
  <div>
    <p>WTF? You don't like guitars? Alright then, try these:</p>
    <ul>
      <li><a href="http://placehold.it/">Place Hold It</a></li>
      <li><a href="http://placekitten.com/">Place Kitten</a></li>
      <li><a href="http://ipsumimage.appspot.com">Ipsum Image</a></li>
    </ul>
  </div>
  <div>
    <p class="powerchord">Image credits</p>
    <ul>
      <li><a href="http://commons.wikimedia.org/wiki/File:F-hole_ASAT.jpg">F-Hole</a></li>
      <li><a href="http://commons.wikimedia.org/wiki/File:Fender_Telecaster_Head.jpg">Telecaster head</a></li>
      <li><a href="http://commons.wikimedia.org/wiki/File:BACCHUS.jpg">Hyperion</a></li>
      <li><a href="http://commons.wikimedia.org/wiki/File:Fender_strat.jpg">Strat</a></li>
      <li><a href="http://www.flickr.com/photos/watt_dabney/">Watt Dabney</a></li>
    </ul>
  </div>
{% endblock %}

