<!doctype html>
<html lang="en">
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
		<title>Place Guitar {% block title %}{% endblock %}</title>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" media="all" href="/css/style.css" />
	</head>
	<body>
      <div id="wrap">
	      <div id="headstock">
	        {% block header %} {% endblock %}
          <div id="menu"><a href="http://www.placeguitar.com">home</a> | <a href="http://www.placeguitar.com/about">about</a></div>
          <div>
            <img src="http://www.placeguitar.com/725/200" />
          </div>
	      </div>
        <div id="neck">	  
      		  {% block content %}{% endblock %}
        	</div>
        	<div id="social-butterfly">
          <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="poissonpie">Tweet</a><br />
          <g:plusone></g:plusone><br />
          <div id="fb-root"></div><fb:like href="http://www.placeguitar.com" send="true" width="350" show_faces="true" colorscheme="dark" font=""></fb:like>
        	</div>
        	<div id="nut">
      	    <p><a href="http://poissonpie.com">poissonpie.com</a> | <a href="http://twentyeighttwelv.com">twentyeighttwelve</a></p>
      	  </div>
      </div>
    <script type="text/javascript">
    var sc_project=7026221; 
    var sc_invisible=1; 
    var sc_security="7b8931eb"; 
    </script>
    <script type="text/javascript"
    src="http://www.statcounter.com/counter/counter.js"></script>
    <a href="https://github.com/poissonpie/Place-Guitar"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://gs1.wac.edgecastcdn.net/80460E/assets/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js#appId=119205044839918&amp;xfbml=1"></script>

	</body>
</html>

