{% extends "basetemplate.html" %}
{% block title %} | Awesome Guitar Placeholder Images{% endblock %}
{% block header %}
  <h1>Place Guitar</h1> 
  <div id="tagline">Guitar placeholder images that rock</div>
{% endblock %}
{% block content %}
  <div>
  <p>This</p>
  <p class="code">&lt;img src="http://www.placeguitar.com/725/200" /&gt;</p>
  <p>gives you an 725 x 200 placeholder image of a guitar (lookit - the header image)!</p>
  <p>Customise it with your own width and height.</p>
  <p>It will not serve up images greater than 2000 x 2000 (I know they ROCK, but 2000px is big enough for any guitar fan).</p>
  </div>
{% endblock %}

